<h2>Quest</h2>
<div class="quest_t"><%= @question.title %></div>
<div class="quest_c"><%= @question.content %></div>
</ul>
<%= link_to 'home', questions_path %>

<h2>Comments</h2>
<ul>
<% if @question.answers.any? %>
<% @question.answers.each do |answer| %>
<div class="answer_u"> Username: <%= answer.user_id %> </div>
<div class="answer_c"> Answer: <%= answer.answer %></div>
<% end %>
<% else %>
<li>no comment yet</li>
<% end %>
</ul>

<h2>Add a Answer</h2>
<%= form_for([@question, @answer]) do |f| %>
<div class="field">
	<%= f.label :answer %>
	<%= f.text_field :answer %>
</div>
<div class="actions">
	<%= f.submit %>	
</div>
<% end %>

<h2>Path</h2>
<span>解決できそうな友人を紹介してみよう</span>
<%= form_for [@question, @path] do |f| %>
	<% @friends.each do |friend| %>
	<div class="field">
		<%= f.radio_button :to_user_id, friend["id"].to_i %><%= friend["name"] %>
	</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>	
	</div>
<% end %>

<% if flash[:flag] %>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js">
  </script>
  <script>
    FB.init({ 
      appId:'205338842958928', cookie:true, 
      status:true, xfbml:true 
    });

    FB.ui({ method: 'apprequests', 
      message: 'Here is a new Requests dialog...'});
  </script>
<% end %>


<%= link_to 'home', questions_path %>