<h2>Quest</h2>
<div class="quest_t"><%= @question.title %></div>
<div class="quest_c"><%= @question.content %></div>
</ul>
<%= link_to 'home', questions_path %>

<h2>Comments</h2>
<ul>
<% if @question.answers.any? %>
<% @question.answers.each do |answer| %>
<div class="answer_u"> Username: <%= answer.user_id %> </div>
<div class="answer_c"> Answer: <%= answer.answer %></div>
<% end %>
<% else %>
<li>no comment yet</li>
<% end %>
</ul>

<h2>Add a Answer</h2>
<%= form_for([@question, @answer]) do |f| %>
<div class="field">
	<%= f.label :answer %>
	<%= f.text_field :answer %>
</div>
<div class="actions">
	<%= f.submit %>	
</div>
<% end %>

<h2>Path</h2>
<span>解決できそうな友人を紹介してみよう</span>
<%= form_for [@question, @path] do |f| %>
	<% @friends.each do |friend| %>
	<div class="field">
		<%= f.radio_button :to_user, friend["id"].to_i %><%= friend["name"] %>
	</div>
	<% end %>
	<div class="actions">
		<%= f.submit %>	
	</div>
<% end %>

<% if flash[:flag] %>
	<script>	 
		FB.ui({
		    method: 'apprequests',
		    message: 'A request especially for Daaku.',
			to: //ここに選択したuserのidが入る,
			data: 'send-to-one-42'
		 }, Log.info.bind('send-to-one callback'));
	</script>
<% end %>


<%= link_to 'home', questions_path %>